//- html5-boilerplate from waanit
extends ./includes/index

block title
   | html5-boilerplate

//- uncomment each block and use method overriding to add custom content

//block general-meta
//block social-fb
//block social-twitter
//block social-gp
//block feed
//block ie6
